.color-classes .color-red {
  color: red;
}
.color-classes .color-green {
  color: green;
}
.color-classes .color-blue {
  color: blue;
}
.color-classes .color-yellow {
  color: yellow;
}
.size-classes .size-small {
  font-size: small;
}
.size-classes .size-medium {
  font-size: medium;
}
.size-classes .size-large {
  font-size: large;
}
.named-params {
  prop-1: one;
  key-1: 1;
  prop-2: two;
  key-2: 2;
  prop-3: three;
  key-3: 3;
}
.from-ruleset {
  primary: blue;
  secondary: gray;
  accent: orange;
}
.nested-each .cell-a-a {
  content: "a-a";
}
.nested-each .cell-b-b {
  content: "b-b";
}
.nested-each .cell-c-c {
  content: "c-c";
}
.nested-each .cell-a-a {
  content: "a-a";
}
.nested-each .cell-b-b {
  content: "b-b";
}
.nested-each .cell-c-c {
  content: "c-c";
}
.range-each .level-1 {
  z-index: 1;
}
.range-each .level-2 {
  z-index: 2;
}
.range-each .level-3 {
  z-index: 3;
}
.range-each .level-4 {
  z-index: 4;
}
.range-each .level-5 {
  z-index: 5;
}
.calc-each .bp-320 {
  min-width: 320px;
}
.calc-each .bp-768 {
  min-width: 768px;
}
.calc-each .bp-1024 {
  min-width: 1024px;
}
.calc-each .bp-1200 {
  min-width: 1200px;
}
.guarded-each {
  even-2: yes;
  even-4: yes;
  even-6: yes;
}
.merged-props {
  margin: 5px 5px 5px 5px;
}
.theme-classes {
  light-bg: #fff;
  light-text: #000;
}
.vendor-prefixes {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
@media (min-width: 480px) {
  .visible-480 {
    display: block;
  }
}
@media (min-width: 600px) {
  .visible-600 {
    display: block;
  }
}
@media (min-width: 900px) {
  .visible-900 {
    display: block;
  }
}
@media (min-width: 1200px) {
  .visible-1200 {
    display: block;
  }
}
.conditional-each {
  item-1: small;
  item-2: small;
  item-3: large;
  item-4: large;
  item-5: large;
}
