@media (min-width: 576px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 800px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 991px) {
  .container {
    width: auto;
  }
}
@media (min-width: 1000px) {
  .wide-container {
    width: 960px;
  }
}
@media (min-width: 1200px / 2) {
  .half-check {
    note: division-not-performed;
  }
}
@media (min-width: 600px) {
  .half-check-parens {
    note: division-performed;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .range {
    display: block;
  }
}
@media (min-width: 600px) {
  .calc-test {
    width: calc(100% - (100px * 2));
  }
}
@media (min-height: 500px) {
  .tall-screen {
    min-height: 100vh;
  }
}
.component {
  color: black;
}
@media (min-width: 768px) {
  .component {
    color: blue;
  }
}
@media (min-width: 1000px) {
  .component {
    color: green;
  }
}
@media (aspect-ratio: 16/9) {
  .widescreen {
    aspect: wide;
  }
}
@media (min-width: 800px) {
  .dynamic {
    width: calc(100vw - 20px);
  }
}
@media (min-width: 940px) {
  .full-grid {
    display: grid;
  }
}
@media print and (min-width: 288px) {
  .print-layout {
    font-size: 12pt;
  }
}
