@media (min-width: 480px) {
  .header {
    width: 1200px;
    height: 60px;
    padding: 16px;
    margin: 24px;
  }
}
.grid-item {
  gap: 0 4px !important;
}
.row1 {
  display: flex !important;
  gap: 16px !important;
  justify-content: flex-start !important;
  align-items: stretch !important;
  padding: 0 !important;
}
.row2 {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}
