@media not all and (min-width: 320px) {
  .responsive {
    display: block;
  }
}
@media (min-width: 576px) {
  .visible-small-up {
    visibility: visible;
  }
}
@media (max-width: 768px) {
  .hidden-medium-up {
    display: none;
  }
}
@media (min-width: 768px) {
  .card {
    display: flex;
  }
}
@media (min-width: 992px) {
  .sidebar {
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 1200px;
    padding: 0 20px;
  }
}
