.button {
  color: blue;
}
.button:hover {
  color: darkblue;
}
.button:focus {
  outline: 1px solid blue;
}
.button.primary {
  background: blue;
}
.button.secondary {
  background: gray;
}
.wrapper {
  color: black;
}
.child .wrapper {
  color: red;
}
.sibling + .wrapper {
  color: green;
}
.parent > .wrapper {
  color: blue;
}
.outer .middle .inner + .outer .middle .inner {
  margin-left: 10px;
}
.outer .middle .inner > .outer .middle .inner {
  padding: 5px;
}
.card {
  padding: 10px;
}
.card--large {
  padding: 20px;
}
.card__header {
  font-weight: bold;
}
.card__footer {
  border-top: 1px solid gray;
}
[data-state] {
  display: block;
}
[data-state="active"] {
  color: green;
}
[data-state^="active"] {
  font-weight: bold;
}
.list-item {
  color: black;
}
.list-item:first-child {
  margin-top: 0;
}
.list-item:last-child {
  margin-bottom: 0;
}
.list-item:nth-child(odd) {
  background: #f5f5f5;
}
.list-item:nth-child(even) {
  background: white;
}
.nav > .nav-item {
  display: inline-block;
}
.nav > .nav-item + .nav-item {
  margin-left: 5px;
}
.nav > .nav-item ~ .nav-item {
  color: gray;
}
.alert,
.notification {
  padding: 10px;
}
.alert.success,
.notification.success {
  background: green;
}
.alert.error,
.notification.error {
  background: red;
}
.alert + .alert,
.alert + .notification,
.notification + .alert,
.notification + .notification {
  margin-top: 5px;
}
.container :is(h1, h2, h3) {
  color: navy;
}
.container :where(p, span) {
  font-size: 14px;
}
.input {
  border: 1px solid gray;
}
.input:not(:disabled) {
  background: white;
}
.input:not(:focus):not(:hover) {
  opacity: 0.8;
}
.text.theme-dark {
  color: white;
}
.my-app-component:nth-child(2) {
  order: 2;
}
