.url-quotes {
  background: url("image.png");
  background: url('image.png');
  background: url(image.png);
}
.url-special {
  background: url("path/to/image.png");
  background: url("path with spaces/image.png");
  background: url("image.png?v=1.0&cache=true");
  background: url("image.png#fragment");
}
.url-data {
  background: url("data:image/svg+xml,%3Csvg%3E%3C/svg%3E");
}
.url-variable {
  background: url("assets/images/logo.png");
}
.url-multiple {
  background: url("a.png"), url("b.png");
  cursor: url("custom.cur"), pointer;
}
.url-interpolation {
  background: url("images/logo.png");
}
.url-relative {
  background-image: url("./same-dir/file.png");
  background-image: url("../parent-dir/file.png");
  background-image: url("sub/dir/file.png");
}
.url-absolute {
  background: url("//cdn.example.com/image.png");
  background: url("https://example.com/image.png");
  background: url("/absolute/path/image.png");
}
